/* Share Button replacement CSS */
#share-btn {
  position: absolute;
  top: 32px;
  right: 149px;
  
  width: 50px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  
  background-color: #9C9EA2;
  color: white;
  font-weight: bold;
  border-radius: 7px;
}
