/* Share Button replacement CSS */
#share-btn {
  position: absolute;
  top: 32px;
  right: 149px;
  
  cursor: default;
  
  width: 55px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  
  background-color: #9C9EA2;
  color: white;
  font-weight: bold;
  border-radius: 7px;
}

.project-status-bar {
  background-color: #F5D6EA;
  color: #773CA0;
  border: 1px solid #ABABAB;
}
