/* Share Button replacement CSS */
#share-btn {
  position: absolute;
  top: 33px;
  right: 150px;
  
  padding: 0px 8px;
  cursor: default;
  
  height: 22px;
  line-height: 24px;
  text-align: center;
  
  background-color: #9C9EA2;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 12px;
}
